@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hover-item {
    @apply bg-black/5 dark:bg-white/10 transition-all;
  }

  .scrollbar::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply bg-[#f1f1f1] dark:bg-[#424242] rounded-lg;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-[#c1c1c1] dark:bg-[#7b7b7b] rounded-lg;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-[#aaaaaa] dark:bg-[#9c9b9b];
  }
  .scrollbar::-webkit-scrollbar-thumb:active {
    @apply bg-[#7c7c7c] dark:bg-[#adadad];
  }

  .dir-rtl {
    direction: rtl;
  }
}

@layer components {
  .notification-section-title {
    @apply font-[700] pt-[22px] pb-[18px] px-6 dark:text-gray-100;
  }

  .btn {
    @apply h-8 text-sm/[18px] font-[600] px-2 xs:px-3 sm:px-5 border-none outline-none rounded-lg;
  }

  .primary-btn {
    @apply btn  bg-[#0095f6] hover:bg-[#1877F2] text-white transition-all;
  }

  .secondary-btn {
    @apply btn bg-[#efefef] hover:bg-[#dbdbdb] dark:bg-[#363636] dark:text-gray-100 dark:hover:bg-[#262626] transition-all;
  }

  .create-new-post-mySwiper .swiper-button-next,
  .create-new-post-mySwiper .swiper-button-prev {
    @apply text-black bg-white  w-5 h-5 rounded-full top-[65%];
  }

  .create-new-post-mySwiper2 .swiper-button-prev,
  .create-new-post-mySwiper2 .swiper-button-next {
    @apply text-white bg-black  w-7 h-7 rounded-full top-1/2;
  }

  .create-new-post-mySwiper .swiper-button-next::after,
  .create-new-post-mySwiper2 .swiper-button-next::after,
  .create-new-post-mySwiper .swiper-button-prev::after,
  .create-new-post-mySwiper2 .swiper-button-prev::after {
    @apply text-xs;
  }

  .create-new-post-mySwiper .swiper-button-prev.swiper-button-disabled,
  .create-new-post-mySwiper .swiper-button-next.swiper-button-disabled,
  .create-new-post-mySwiper2 .swiper-button-prev.swiper-button-disabled,
  .create-new-post-mySwiper2 .swiper-button-next.swiper-button-disabled {
    @apply opacity-0;
  }

  .create-new-post-mySwiper .swiper-slide {
    height: 100%;
    opacity: 0.4;
  }

  .create-new-post-mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }

  .create-new-post-mySwiper2 .swiper-pagination {
    @apply bottom-5;
  }

  .create-new-post-mySwiper2 .swiper-pagination-bullet {
    @apply bg-neutral-500 opacity-50;
  }
  .create-new-post-mySwiper2 .swiper-pagination-bullet-active {
    @apply bg-[#0095f6];
  }

  .remove-new-post-icon {
    @apply hidden;
  }

  .swiper-slide-thumb-active .remove-new-post-icon {
    @apply inline;
  }

  .input-range-zoom,
  .input-adjustments {
    /* Remove default styles */
    -webkit-appearance: none;
    appearance: none;
    width: 100%; /* Set the width of the slider */
    height: 2px; /* Set the height of the slider */
    background: #fff; /* Set the background color of the slider track */
    outline: none; /* Remove outline */

    /* Style the thumb (slider handle) */
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 16px; /* Set the width of the thumb */
      height: 16px; /* Set the height of the thumb */
      background: #fff; /* Set the background color of the thumb */
      cursor: pointer; /* Set cursor on hover */
      border-radius: 50%; /* Make the thumb circular */
    }

    /* Firefox */
    &::-moz-range-thumb {
      width: 16px; /* Set the width of the thumb */
      height: 16px; /* Set the height of the thumb */
      background: #fff;
      cursor: pointer;
      border-radius: 50%;
    }
  }

  .input-adjustments {
    background: #000; /* Set the background color of the slider track */

    /* Style the thumb (slider handle) */
    &::-webkit-slider-thumb {
      @apply bg-black dark:bg-white /* Set the background color of the thumb */;
    }

    /* Firefox */
    &::-moz-range-thumb {
      @apply bg-black dark:bg-white;
    }
  }

  .switch-input:checked + .slider,
  .switch-input:checked + .slider2 {
    background-color: #2196f3;
  }

  .switch-input:focus + .slider,
  .switch-input:focus + .slider2 {
    box-shadow: 0 0 1px #2196f3;
  }

  .switch-input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .switch-input:checked + .slider2:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }

  .stories-swiper .swiper-button-next,
  .stories-swiper .swiper-button-prev {
    @apply w-6 h-6 top-10 bg-white rounded-full;
  }
  .stories-swiper .swiper-button-next {
    @apply right-5;
  }
  .stories-swiper .swiper-button-prev {
    @apply left-5;
  }
  .stories-swiper .swiper-button-next::after,
  .stories-swiper .swiper-button-prev::after {
    @apply text-sm text-black;
  }

  .story-content-swiper {
    width: 70%;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .story-content-swiper .swiper-wrapper {
    @apply w-[30rem] sm:w-[50rem] md:w-[75rem] lg:w-[90rem];
  }

  .story-content-swiper .swiper-slide {
    background-position: center;
    background-size: cover;
    @apply w-[350px];
    height: 650.453px;
  }

  @media screen and (min-width: 300px) and (max-width: 640px) {
    .story-content-swiper .swiper-slide-next {
      transform: translate3d(220px, 2px, -4000px) !important;
    }
    .story-content-swiper .swiper-slide-prev {
      transform: translate3d(-180px, 2px, -4000px) !important;
    }
    .story-content-swiper .swiper-slide-active {
      transform: translate3d(10px, 2px, -800px) !important;
    }
  }

  @media screen and (min-width: 1024px) {
    .story-content-swiper .swiper-slide-next {
      transform: translate3d(80px, 2px, -1000px) !important;
    }
    .story-content-swiper .swiper-slide-prev {
      transform: translate3d(-80px, 2px, -1000px) !important;
    }
  }

  .story-content-swiper .swiper-slide-next .prev-next__content,
  .story-content-swiper .swiper-slide-prev .prev-next__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    inset: 0;
    color: white;
    position: absolute;
    z-index: 10;
  }

  .story-content-swiper .swiper-button-next,
  .story-content-swiper .swiper-button-prev {
    @apply w-6 h-6 bg-white rounded-full;
  }
  .story-content-swiper .swiper-button-next::after,
  .story-content-swiper .swiper-button-prev::after {
    @apply text-sm text-black;
  }

  .story-user-swiper .swiper-pagination {
    width: 98%;
    height: 3px;
    display: flex;
    top: 10px;
    right: 10px;
    left: 5px;
    justify-content: space-between;
    row-gap: 5px;
  }

  .story-user-swiper .swiper-pagination-bullet {
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.35);
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: opacity 200ms;
    }
  }

  .story-user-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .story-content-swiper
    .swiper-slide-active
    .story-user-swiper
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
    &::before {
      background-color: white !important;
      animation: slide-progress 5s cubic-bezier(0.3, 0, 0.3, 1) forwards;

      .swiper-paused & {
        opacity: 0;
        animation-play-state: paused;
      }
    }
  }
  .story-content-swiper
    .swiper-slide-active
    .story-user-swiper.swiper-paused
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
    &::before {
      animation-play-state: paused;
    }
  }

  @keyframes slide-progress {
    0% {
      /* transform: translateX(-100%); */
      width: 0;
    }

    100% {
      /* transform: translateX(0); */
      width: 100%;
    }
  }

  .posts-swiper .swiper-button-next,
  .posts-swiper .swiper-button-prev,
  .comment-posts-swiper .swiper-button-next,
  .comment-posts-swiper .swiper-button-prev {
    @apply w-6 h-6 text-black bg-neutral-100 rounded-full;
  }
  .posts-swiper .swiper-button-next::after,
  .posts-swiper .swiper-button-prev::after,
  .comment-posts-swiper .swiper-button-next::after,
  .comment-posts-swiper .swiper-button-prev::after {
    @apply text-xs;
  }
  .posts-swiper .swiper-button-disabled,
  .comment-posts-swiper .swiper-button-disabled {
    @apply opacity-0;
  }

  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .marquee-text {
    white-space: nowrap;
    animation: marquee 5s linear infinite; /* Adjust duration as needed */
  }

  audio::-webkit-media-controls-panel {
    @apply bg-neutral-400;
  }
}
