@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hover-item {
    @apply bg-black/5 dark:bg-white/10 transition-all;
  }

  .scrollbar::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply bg-[#f1f1f1] dark:bg-[#424242] rounded-lg mt-3;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-[#c1c1c1] dark:bg-[#7b7b7b] rounded-lg;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-[#aaaaaa] dark:bg-[#9c9b9b];
  }
  .scrollbar::-webkit-scrollbar-thumb:active {
    @apply bg-[#7c7c7c] dark:bg-[#adadad];
  }

  .dir-rtl {
    direction: rtl;
  }
}

@layer components {
  .notification-section-title {
    @apply font-[700] pt-[22px] pb-[18px] px-6 dark:text-gray-100;
  }

  .btn {
    @apply h-8 text-sm/[18px] font-[600] px-2 xs:px-3 sm:px-5 border-none outline-none rounded-lg;
  }

  .primary-btn {
    @apply btn  bg-[#0095f6] hover:bg-[#1877F2] text-white transition-all;
  }

  .secondary-btn {
    @apply btn bg-[#efefef] hover:bg-[#dbdbdb] dark:bg-[#363636] dark:text-gray-100 dark:hover:bg-[#262626] transition-all;
  }

  .create-new-post-mySwiper .swiper-button-next,
  .create-new-post-mySwiper .swiper-button-prev {
    @apply text-black bg-white  w-5 h-5 rounded-full top-[65%];
  }

  .create-new-post-mySwiper2 .swiper-button-prev,
  .create-new-post-mySwiper2 .swiper-button-next {
    @apply text-white bg-black  w-7 h-7 rounded-full top-1/2;
  }

  .create-new-post-mySwiper .swiper-button-next::after,
  .create-new-post-mySwiper2 .swiper-button-next::after,
  .create-new-post-mySwiper .swiper-button-prev::after,
  .create-new-post-mySwiper2 .swiper-button-prev::after {
    @apply text-xs;
  }

  .create-new-post-mySwiper .swiper-button-prev.swiper-button-disabled,
  .create-new-post-mySwiper .swiper-button-next.swiper-button-disabled,
  .create-new-post-mySwiper2 .swiper-button-prev.swiper-button-disabled,
  .create-new-post-mySwiper2 .swiper-button-next.swiper-button-disabled {
    @apply opacity-0;
  }

  .create-new-post-mySwiper .swiper-slide {
    height: 100%;
    opacity: 0.4;
  }

  .create-new-post-mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }

  .create-new-post-mySwiper2 .swiper-pagination {
    @apply bottom-5;
  }

  .create-new-post-mySwiper2 .swiper-pagination-bullet {
    @apply bg-white opacity-50;
  }
  .create-new-post-mySwiper2 .swiper-pagination-bullet-active {
    @apply bg-[#0095f6];
  }

  .remove-new-post-icon {
    @apply hidden;
  }

  .swiper-slide-thumb-active .remove-new-post-icon {
    @apply inline;
  }
}
